<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#db0000">
    <meta name="description" content="Restaurant List Pwa's">
    <link rel="icon" href="/images/additional/ico-48.png">
    <link rel="apple-touch-icon" href="/images/additional/ico-192.png">
    <title>The Hittest Restaurant in Town</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
</head>
<body>
    <a href="#content" class="skip">Skip To Content</a>

    <app-bar></app-bar>
    <side-nav></side-nav>

    <div class="container">

        <!-- <header-element></header-element> -->
        
        <main>
            <h2></h2>
            <div id="content">
                
            </div>
        </main>
        <div class="additional">

        </div>

        <footer>
            &copy 2021 FindMyRest
        </footer>
    </div>

</body>
</html>