@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap');
/* color : https://colorhunt.co/palette/1649 */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eeeeee;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}
img {
    width: 100%;
}
/* nav */
.menu {
    display: grid;
    grid-template-columns: .1fr 1fr 1.5fr;
    gap: 5px;
    align-items: center;
    background-color: #52616b;
    color: #eeeeee;
    padding: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0px 5px 5px 0px rgba(30,32,34,1);
}
.brand-img {
    display: flex;
    justify-content: flex-end;
}
.menu img {
    width: 64px;
}
.menu ul {
    list-style: none;
    display: none;
}

.nav-menu a {
    text-decoration: none;
    color: #eeeeee;
    text-transform: uppercase;
    padding: 10px;
    background-color: #52616b;
    text-align: center;
    display: block;
    border-radius: 2px;
    box-sizing: border-box;
    width: 120px;
    height: auto;
}
.nav-menu a:hover {
    background-color: #1e2022;
}
/* sidenav */
#nav-mobile {
    width: 44px;
    height: 44px;
    font-size: 40px;
    color: #eeeeee;
    background-color: transparent;
    border: none;
    /* outline: none; */
    cursor: pointer;
}
#nav-mobile:hover {
    color: #1e2022;
}

#sidenav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: #52616bda;
    height: 100%;
    padding-top: 40px;
    box-sizing: border-box;
    display: none;
    width: 50%;
}

#sidenav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#sidenav li {
    margin-bottom: 50px;
}
#sidenav a{
    text-transform: uppercase;
    text-decoration: none;
    color: #eeeeee;
    display: block;
    text-align: center;
    height: 56px;
    min-width: 120px;
    margin: 10px;
}
#sidenav a:hover {
    color: #c9d6df;
}
/* header */
.header {
    background-image: url('../public/images/heros/mobile.jpg'); /*mobile*/
    background-position: center;
    /* background-size: 767px 400px; */
    /* background-repeat: no-repeat; */
    padding: 10px;
    box-sizing: border-box;
    height: 400px;
    display: grid;
    place-content: center;
    color: #eeeeee;
    text-align: center;
}
.header h1,
.header p {
    background: rgba(0, 0, 0, .4);
    padding: 20px;
    border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    -moz-border-radius: 9px 9px 9px 9px;
}
.header h1{
    font-weight: lighter;
    text-decoration: underline;
}
/* content */
main {
    background-color: #eeeeee;
}
.list-rest {
    display: flex;
    flex-direction: column;
}
main h2,
article h2 {
    /* padding: 10px 0px 20px 0px; */
    background-color: #1e2022;
    color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.card {
    box-sizing: border-box;
    align-self: center;
    /* margin: 20px; */
    background-color: #c9d6df;
    width: 90%;
    /* margin: 30px auto; */
    border-radius: 11px;
    overflow: hidden;
    margin: 20px 0;
}
.card figure {
    position: relative;
}

.card figcaption {
    background: rgba(0, 0, 0, 0.671);
    width: 30%;
    font-weight: 500;
    color: #eeeeee;
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 20%;
    border-radius: 0px 9px 10px 0px;
    -webkit-border-radius: 0px 9px 10px 0px;
    -moz-border-radius: 0px 9px 10px 0px;
}
.details {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.details h3 {
    text-align: center;
    flex-grow: 2;
    padding: 10px;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
    border-left: 5px solid;
    border-bottom: 3px solid;
    border-top: 1px solid;
}
.details h4 {
    padding: 10px;
    flex-grow: 1;
    text-align: center;
    clip-path: polygon(16% 0, 100% 0, 100% 100%, 0% 100%);
    /* background-color: #f7a440; */
    border-bottom: 1px solid;
    border-top: 3px solid;
    border-right: 5px solid;
}
.details p {
    margin-top: 20px;
    text-align: justify;
    line-height: 2rem;
}
.details a {
    text-decoration: none;
}
/* footer */
footer {
    text-align: center;
    background-color: #52616b;
    padding: 20px;
    color: #eeeeee;
    position: sticky;
    bottom: 0;
}


/* tambahan */
article h2 {
    background-color: #1e2022;
    color: #eeeeee;
}
.container-review {
    margin: 20px auto;
}
.card-review {
    width: 60%;
    text-align: center;
    margin: auto;
}
.cust-style {
    /* background-color: #c9d6df; */
    /* padding: 10px; */
    display: grid;
    grid-template-rows: .3fr;
    /* height: 130px; */
}
.cust-img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.card-review p {
    /* text-decoration: underline; */
    text-align: center;
}
.card-review ul img {
    width: 46px;
    height: auto;
}
.card-review ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-self: flex-end;
}

.card-review a {
    display: block;
    box-sizing: border-box;
}

.skip {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #eeeeee;
    color: #1e2022;
    padding: 8px;
    z-index: 100;
}

.skip:focus {
    top: 0;
}

/* loading */

.loading {
    width: 300px;
    height: 300px;
}

/* .card img {
    width: 100%;
    height: 300px;
} */

.no-data {
    text-align: center;
}

.more-links {
    display: inline-block;
    height: 44px;
    width: 120px;
}

.more-links:hover,
.more-links:active,
.more-links:visited {
    color: #2541b2;
}